
.registrationSection{ 
  
  padding: 20px 30px 40px 30px;
  background:linear-gradient(to bottom,rgb(211, 174, 180), rgb(218, 218, 179));
}

.registrationSection h1{
  text-align: center;
  color: #360858;
  margin: 10px 10px 30px  10px;
  font-size: 2.3rem;
}
  
  form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin:30px auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black !important; 
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"],
  select,
  textarea {
    width: 100%;
    background-color: rgb(245, 235, 235);
    padding: 10px; 
    margin-top: 5px;
    border: 1px solid #eee2e2;
    border-radius: 10px !important;
    box-sizing: border-box; 
  }
  
  input[type="file"] {
    padding: 3px 10px; 
  }

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
  border: 1px solid #3c0166 !important;  /* Adds a red border when input is clicked */
  outline: none !important; /* Removes the default browser outline */
  appearance: none;
}


  
  p {
    color: red; 
    font-size: 14px;
  }